@import url('__button/game-console__button.css');
@import url('__buttons/game-console__buttons.css');
@import url('__level-buttons/game-console__level-buttons.css');

.game-console {
    padding: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: center;
}