.color-samples__color-sample {
    height: 12.5em;
    width: 12.5em;
    border: 1px solid black;
    box-shadow: 0 0 black;

    transition: background-color .3s, box-shadow .3s;
}

.color-samples__color-sample:hover {
    cursor: pointer;

    box-shadow: .75rem .75rem black;
}