@import url('./_active/game-console__button_active.css');
@import url('./_easy/game-console__button_easy.css');
@import url('./_hard/game-console__button_hard.css');
@import url('./_shuffle/game-console__button_shuffle.js');

.game-console__button {
    min-height: 1em;
    min-width: 1em;
    padding: 0.5em;

    background: none;
    border: none;
    outline: none;
    
    text-transform: uppercase;
    font-weight: 900;
    color: black;

    transition: all .1s;
} 

.game-console__button:hover {
    cursor: pointer;
}

.game-console__button::before {
    content: "";

    position: relative;
    display: block;

    bottom: -1.5rem;
    left: -5px;
    z-index: -1;

    width: 1rem;
    height: 1.5rem;
    
    background-color: red;

    transition: width .2s;
}

.game-console__button:hover::before {
    content: "";

    width: 2rem;
}