.color-samples__row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    width: 100%;
    height: 9em;
}

@media screen and (min-width: 500px) {
    .color-samples__row {
        height: 13rem;
    }
}